<h1>Service</h1>
<ul>
<li><%= link_to "General Sales Tax",generalsalestax_path %> </li>
<!--<li><a href="services.php?sec=2">Sales Tax Refund Analysis</a><li> -->
<li><%= link_to "Federal Excises", federalexcieses_path %></li>
<li><%= link_to "Corporate Income Tax", corporateincometax_path %></li>
<li><%= link_to "Personal Taxation", personaltaxation_path %></li>
<li><%= link_to "Accountacy & Auditing", accountacyauditing_path %></li>
</ul>
